﻿@model POS.ViewModel.ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Product";
}
<h2>Add Product</h2>

<form asp-controller="Product" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="SupplierId">Supplier ID</label>
        <select type="text" asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier">
            <option selected>Select Supplier</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryID">Category ID</label>
       
        <select type="text" asp-for="CategoryID" class="form-control" asp-items="@ViewBag.Category">
            <option selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryID" class="text-danger" />
    </div> 

    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Order"></label>
        <input asp-for="Order" class="form-control" />
        <span asp-validation-for="Order" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel"></label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class="text-danger" />
    </div>
    <div class="form-group">
        <label>Discontinued</label>
        <div class="form-check">
             <input asp-for="Discontinued" class="form-check-input" type="checkbox" id="yes" value="True" />
              <label asp-for="Discontinued" for="yes" >Yes</label>
        </div>
        <div class="form-check">
             <input asp-for="Discontinued" class="form-check-input" type="checkbox" id="yes" value="False" />
              <label asp-for="Discontinued" for="no" >No</label>
        </div>
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
