﻿@model POS.Repository.ProductEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Product";
}
<h2>Detail Product</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Supplier id</th>
        <td>@Model.SupplierId</td>
    </tr>
    <tr>
        <th>Category id</th>
        <td>@Model.CategoryID</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>@Model.Quantity</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>Stock</th>
        <td>@Model.Stock</td>
    </tr>
    <tr>
        <th>Order</th>
        <td>@Model.Order</td>
    </tr>
    <tr>
        <th>Reorder Level</th>
        <td>@Model.ReorderLevel</td>
    </tr>
    <tr>
        <th>Discontinued</th>
        <td>@Model.Discontinued</td>
    </tr>
</table>