﻿@model POS.ViewModel.ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Product";
}
<h2>Edit Product</h2>
<form asp-controller="Product" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SupplierId">Supplier ID</label>
        <select type="text" asp-for="SupplierId" class="form-control" asp-items="@ViewBag.Supplier">
            <option selected>Select Supplier</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CategoryID">Category ID</label>

        <select type="text" asp-for="CategoryID" class="form-control" asp-items="@ViewBag.Category">
            <option selected>Select Category</option>
        </select>
        
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Stock"></label>
        <input asp-for="Stock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Order"></label>
        <input asp-for="Order" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel"></label>
        <input asp-for="ReorderLevel" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discontinued"></label>
        <input asp-for="Discontinued" class="form-control" />
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

