﻿@model IEnumerable<POS.Repository.ProductEntity>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>
<a id="btn-add" class="btn btn-primary" role="button" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
<table class="table table-responsive">
    <thead>
    <th>Id</th>
    <th>Prooduct Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Order</th>
    <th>Discontinued</th>
    <th>Action</th>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Quantity</td>
        <td>@item.Price</td>
        <td>@item.Stock</td>
        <td>@item.Order</td>
        <td>@item.Discontinued</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
        </td>
        </tbody>
    }
</table>
<div id="my-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#btn-add").on("click", function(e){
        e.preventDefault();
        $.ajax({
        url:"Product/AddModal",
        type:"GET",
        dataType:"html",
        success:function(data){
            $("#my-modal").find(".modal-body").html(data);
            $("#my-modal").modal("show");
        }
        });
        });
    </script>
}
