﻿@model POS.Repository.EmployeeEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Employe";
}
<h2>Detail Employe</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.TitleOfCourtesy</td>
    </tr>
     <tr>
        <th>Title</th>
        <td>@Model.BirthDate</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.HireDate</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>region</th>
        <td>@Model.region</td>
    </tr>
    <tr>
        <th>PostalCode</th>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>Home Phone</th>
        <td>@Model.HomePhone</td>
    </tr>
    <tr>
        <th>Extension</th>
        <td>@Model.Extension</td>
    </tr>
     <tr>
        <th>Notes</th>
        <td>@Model.Notes</td>
    </tr>
     <tr>
        <th>ReportTo</th>
        <td>@Model.ReportTo</td>
    </tr>
</table>