﻿@model POS.ViewModel.OrderModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Order";
}
<h2>Add Order</h2>

<form asp-controller="Order" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="CustomerId">Customer ID</label>
        <select type="text" asp-for="CustomerId" class="form-control" asp-items="@ViewBag.Customer">
            <option selected>Select Customer</option>
        </select>
        <span asp-validation-for="CustomerId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId">Employee ID</label>
       
        <select type="text" asp-for="EmployeeId" class="form-control" asp-items="@ViewBag.Employee">
            <option selected>Select Employee</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger" />
    </div> 

    <div class="form-group date" id='datetimepicker4'>
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" type="date"/>
        <span asp-validation-for="OrderDate" class="text-danger" />
    </div>

    <div class="form-group date" id='datetimepicker4'>
        <label asp-for="RequiredDate"></label>
        <input asp-for="RequiredDate" class="form-control" type="date"/>
        <span asp-validation-for="RequiredDate" class="text-danger" />
    </div>
    <div class="form-group date" id='datetimepicker4'>
        <label asp-for="ShippedDate"></label>
        <input asp-for="ShippedDate" class="form-control"  type="date"/>
        <span asp-validation-for="ShippedDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipVia"></label>
        <input asp-for="ShipVia" class="form-control" />
        <span asp-validation-for="ShipVia" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Freight"></label>
        <input asp-for="Freight" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger" />
    </div>  
    <div class="form-group">
        <label asp-for="ShipName"></label>
        <input asp-for="ShipName" class="form-control" />
        <span asp-validation-for="ShipName" class="text-danger" />
    </div>
  <div class="form-group">
        <label asp-for="ShipAddress"></label>
        <input asp-for="ShipAddress" class="form-control" />
        <span asp-validation-for="ShipAddress" class="text-danger" />
    </div>
  <div class="form-group">
        <label asp-for="ShipCity"></label>
        <input asp-for="ShipCity" class="form-control" />
        <span asp-validation-for="ShipCity" class="text-danger" />
    </div>
  <div class="form-group">
        <label asp-for="ShipRegion"></label>
        <input asp-for="ShipRegion" class="form-control" />
        <span asp-validation-for="ShipRegion" class="text-danger" />
    </div>
  <div class="form-group">
        <label asp-for="ShipPostal"></label>
        <input asp-for="ShipPostal" class="form-control" />
        <span asp-validation-for="ShipPostal" class="text-danger" />
    </div>
  <div class="form-group">
        <label asp-for="ShipCountry"></label>
        <input asp-for="ShipCountry" class="form-control" />
        <span asp-validation-for="ShipCountry" class="text-danger" />
    </div>
  
    <h2 class="content-caption mb-0 d-flex justify-content-between">
        Order Detail
        <a class="btn-add add-detail" data-added="0"><i class="la la-plus la-lg">+</i></a>
    </h2>

    <table class="table table-borderless m-0" id="tbl_posts2">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody id="tbl_posts_body2">
            <tr id="re-0">
                <td>
                    <select type="text" asp-for="OrderDetails[0].ProductId" class="form-control" asp-items="@ViewBag.Product">
                        <option selected>Select the Product</option>
                    </select>
                </td>
                <td><input asp-for="OrderDetails[0].Price" class="form-control" /></td>
                <td><input asp-for="OrderDetails[0].Quantity" class="form-control" /></td>
                <td><input asp-for="OrderDetails[0].Discount" class="form-control" /></td>
                <td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="la la-trash la-lg text-danger">-</i></a></td>
            </tr>

        </tbody>
        <tbody id="Detail-2">
        </tbody>

    </table>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

@*
    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>*@



</form>

@section Scripts {
  <script type="text/javascript">
        $(document).ready(function () {

            //Education
            var j = 1;
            //added class to inputs
            $('a.add-detail').click(function () {
                $("#Detail-2").append('<tr><td><input id="OrderDetails_' + j + '__ProductId" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].ProductId" value=""/></td><td><input id="OrderDetails_' + j + '__Price" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].Price" value=""/></td><td><input id="OrderDetails_' + j + '__Quantity" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].Quantity" value=""/></td><td><input id="OrderDetails_' + j + '__Discount" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].Discount" value=""/></td><td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="la la-trash la-lg text-danger">-</i></a></td></tr>');
                j++;
            });
            $('#Detail-2').on('click', '.delete-detail', function () {
                $(this).parent().parent().remove();
                j--; //decremnt count
                resetValues(); //call to reset values
            });

            function resetValues() {
                counter = 1; //initialze to 1
                //looping through tbody
                $("#Detail-2 tr").each(function () {
                    //find .school class replace its name value
                    $(this).find('.ProductId').attr("OrderDetails[" + counter + "].ProductId");
                    $(this).find('.Price').attr("OrderDetails[" + counter + "].Price");
                    $(this).find('.Quantity').attr("OrderDetails[" + counter + "].Quantity");
                    $(this).find('.Discount').attr("OrderDetails[" + counter + "].Discount");
                    counter++; //increment count
                })
            }
        });
    </script>

      
}
