﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You're Finally Awake</p>
    <p>Please Choose Them Carefully</p>

    <div>
        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Product" asp-action="Index">Product List</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Category" asp-action="Index">Category List</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Customer" asp-action="Index">Customer List</a>

        <a class="btn btn-primary" role="button" asp-area="" asp-controller="Supplier" asp-action="Index">Supplier List</a>

    </div>

</div>
