﻿@model POS.Repository.SupplierEntity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Supplier";
}
<h2>Detail Supplier</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Company</th>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.ContactTitle</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th>region</th>
        <td>@Model.region</td>
    </tr>
    <tr>
        <th>PostalCode</th>
        <td>@Model.PostalCode</td>
    </tr>
    <tr>
        <th>Country</th>
        <td>@Model.Country</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Fax</th>
        <td>@Model.Fax</td>
    </tr>
    <tr>
        <th>Homepage</th>
        <td>@Model.Homepage</td>
    </tr>
</table>